            <li class="main-nav__item">
                <ul class="main-nav__list">
                    <li class="main-nav__item main-nav__item_sign"><a href="/user-authorization" class="main-nav__link">Авторизация</a></li>
                    <li class="main-nav__item main-nav__separator_sign">/</li>
                    <li class="main-nav__item main-nav__item_sign"><a href="/user-registration" class="main-nav__link">Регистрация</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
