<?php

/**
 * @Var \App\Core\Blocks\Pages\BaseLayoutPage $this
 */
?>

<header class="header">
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="/" class="main-nav__link">Главная</a></li>
                    <li class="main-nav__item"><a href="/books" class="main-nav__link">Книги</a></li>
                    <li class="main-nav__item"><a href="/publishers" class="main-nav__link">Авторы</a></li>
                    <li class="main-nav__item"><a href="/categories" class="main-nav__link">Категории</a></li>
                    <li class="main-nav__item"><a href="/libraries" class="main-nav__link">Библиотеки</a></li>
                </ul>
            </li>
