<?php

/**
 * @Var \App\Core\Blocks\AbstractBlock $this
 */
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?= $this->getTitle() ?></title>
    <link rel="stylesheet" type="text/css" href="<?= $this->getStyles() ?>">
</head>