            <li class="main-nav__item">
                <ul class="main-nav__list">
                    <li class="main-nav__item main-nav__item_sign"><a href="/user-account" class="main-nav__link">Личный кабинет</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

