<?php
/**
 * @Var \App\Book\Blocks\AddBookPage $this
 */
?>

<?php $this->renderHead();
$this->renderHeader();?>
<body>
<div class="page-container page-container_theme-light page-container_center">
    <main class="main main_column">
        <h2 class="form-input__title">Добавление книги</h2>
        <form class="form-input" method="POST">
            <?php $this->renderToken(); ?>
            <div class="form-input__property">
                <label class="form-input__label" for="name">Название книги:</label>
                <input class="form-input__input-field" type="text" id="name" name="name" required>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="country_name">Название страны:</label>
                <input class="form-input__input-field" name="country_id" list="country">
                <datalist id="country">
                    <?php $this->renderListCountry() ?>
                </datalist>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="publisher_name">Автор:</label>
                <input class="form-input__input-field" type="text" name="publisher_id" list="publisher">
                <datalist id="publisher">
                <?php $this->renderListPublisher(); ?>
                </datalist>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="created_at">Год выпуска:</label>
                <input class="form-input__input-field" type="text" id="created_at" name="created_at">
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="price">Цена:</label>
                <input class="form-input__input-field" type="text" id="price" name="price" required>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="category_name">Категория:</label>
                <input class="form-input__input-field" type="text" name="category_id" list="category" required>
                <datalist id="category">
                    <?php $this->renderCategoryList() ?>
                </datalist>

            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="annotation">Аннотация:</label>
                <textarea class="form-input__input-field" id="annotation" name="annotation" rows="6" cols="50"></textarea>
            </div>
            <input class="form-input__button" type="submit" value="Добавить">
        </form>
    </main>
</div>
</body>
</html>
