<?php
/**
 * @Var \App\Publisher\Blocks\AddPublisherPage $this
 */
?>

<?php $this->renderHead();
$this->renderHeader(); ?>
<body>
<div class="page-container page-container_theme-light page-container_center">
    <main class="main main_column">
        <h2 class="form-input__title">Добавление писателя</h2>
        <form class="form-input" method="POST">
            <?php $this->renderToken(); ?>
            <div class="form-input__property">
                <label class="form-input__label" for="name">Имя писателя:</label>
                <input class="form-input__input-field" type="text" id="name" name="name" required>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="surname">Фамилия писателя:</label>
                <input class="form-input__input-field" id="surname" name="surname">
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="date_of_birth">Дата рождения:</label>
                <input class="form-input__input-field" type="date" id="date_of_birth" name="date_of_birth">
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="date_of_death">Дата смерти:</label>
                <input class="form-input__input-field" type="date" id="date_of_death" name="date_of_death">
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="annotation">Аннотация:</label>
                <textarea class="form-input__input-field" id="annotation" name="annotation" rows="6" cols="50"></textarea>
            </div>
            <input class="form-input__button" type="submit" value="Добавить">
        </form>
    </main>
</div>
</body>
</html>
