<?php
/**
 * @Var \App\Book\Blocks\BookPage $this
 */

$bookData = $this->getEntity('book');
?>

<?php $this->renderHead($bookData->getName()); ?>
    <body>
        <div class="page-container page-container_theme-dark">
            <?php $this->renderHeader(); ?>
            <main class="main">
                <div class="information-block information-block_base-info">
                    <img src="<?= $bookData->getImage(); ?>" alt="Фотография Книги" class="base-card__cover">
                    <h1 class="base-card__title"><?= $bookData->getName(); ?></h1>
                    <ul class="base-list base-list_card-info">
                        <li class="base-list__item base-list__card-info">Дата выпуска: <?= $bookData->getCreatedAt(); ?></li>
                        <li class="base-list__item base-list__card-info">Страна: <?php $this->renderLinkCountry() ?></li>
                        <li class="base-list__item base-list__card-info">Автор: <?php $this->renderLinkPublisher() ?></li>
                        <li class="base-list__item base-list__card-info">Цена: <?= $bookData->getPrice(); ?></li>
                    </ul>
                    <div class="button-container">
                        <a class="button-container__button" href="<?= 'update-book?id=' . $bookData->getId() ?>"><img class="button__img" src="/assets/img/button-update.svg"></a>
                        <a class="button-container__button" href="<?= 'delete-book?id=' . $bookData->getId() ?>"><img class="button__img" src="/assets/img/button-delete.svg"></a>
                    </div>
                </div>
                <div class="information-block">
                    <p class="infomation-text">
                        <?= $bookData->getAnnotation(); ?>
                    </p>
                    <?php $this->renderSeparator(); ?>
                    <?php $this->getCategoryListBlock() ?>
                    <?php $this->renderSeparator(); ?>
                    <div class="button-container">
                        <a class="button-container__button" href="/<?= 'add-book-copy?book-id=' . $bookData->getId() ?>"><img class="button__img" src="/assets/img/button-add.png"></a>
                    </div>
                    <ul class="base-list">
                        <?php $this->renderListBookCopy() ?>
                    </ul>
                </div>
            </main>
        </div>
    </body>
</html>