<?php
/**
 * @Var \App\Library\Blocks\UpdateLibraryPage $this
 */

$oldDataLibrary = $this->getEntity('library');
?>

<?php $this->renderHead();
$this->renderHeader(); ?>
<body>
<div class="page-container page-container_theme-light page-container_center">
    <main class="main main_column">
        <h2 class="form-input__title">Удаление Библиотеки</h2>
        <p class="form-input__warning">Внимание! При удалении библиотеки все её шкафы также удаляются!</p>
        <form class="form-input" method="POST">
            <?php $this->renderToken(); ?>
            <div class="form-input__property">
                <label class="form-input__label" for="name">Библиотека:</label>
                <input class="form-input__input-field" type="text" id="id" name="id" value="<?php echo $this->getLibraryId() ?>" readonly>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="name">Название Библиотеки:</label>
                <input class="form-input__input-field" type="text" id="name" name="name" value="<?= $oldDataLibrary->getName() ?>" readonly>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="country_name">Адрес:</label>
                <input class="form-input__input-field" id="address" name="address" list="address" value="<?= $oldDataLibrary->getAddress() ?>"readonly>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="founding_date">Дата основания:</label>
                <input class="form-input__input-field" type="date" id="founding_date" name="founding_date" value="<?= $oldDataLibrary->getFoundingDate() ?>" readonly>
            </div>
            <input class="form-input__button" type="submit" value="Удалить">
        </form>
    </main>
</div>
</body>
</html>
