<?php
/**
 * @Var \App\Category\Blocks\UpdateCategoryPage $this
 */

$oldDataCategory = $this->getEntity('category');
?>

<?php $this->renderHead();
$this->renderHeader(); ?>
<body>
<div class="page-container page-container_theme-light page-container_center">
    <main class="main main_column">
        <h2 class="form-input__title">Удалаение категории</h2>
        <p class="form-input__warning">Внимание! При удалении категории все дочернии категории перейдут её родителю!</p>
        <form class="form-input" method="POST">
            <?php $this->renderToken(); ?>
            <div class="form-input__property">
                <label class="form-input__label" for="name">Категория:</label>
                <input class="form-input__input-field" type="text" id="id" name="id" value="<?php echo $this->getCategoryId() ?>" readonly>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="name">Название категории:</label>
                <input class="form-input__input-field" type="text" id="name" name="name" value="<?= $oldDataCategory->getName() ?>"readonly>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="category_name">Родительская категория:</label>
                <input class="form-input__input-field" type="text" name="parent_id" value="<?= $oldDataCategory->getIdParent()?>" readonly>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="annotation">Аннотация:</label>
                <textarea class="form-input__input-field" id="annotation" name="annotation" rows="6" cols="50" readonly><?= $oldDataCategory->getAnnotation() ?></textarea>
            </div>
            <input class="form-input__button" type="submit" value="Удалить">
        </form>
    </main>
</div>
</body>
</html>
