<?php
/**
 * @Var \App\Library\Blocks\LibrariesPage $this
 */
?>

<?php $this->renderHead() ?>
    <body>
        <div class="page-container page-container_theme-dark">
            <?php $this->renderHeader(); ?>
            <main class="main main_column">
                <div class="button-container">
                    <a class="button-container__button" href="/add-library"><img class="button__img" src="/assets/img/button-add.png"></a>
                </div>
                <ul class="base-list base-list_full-screen">
                    <?php $this->renderListEntity('library') ?>
                </ul>
            </main>
        </div>
    </body>
</html>