<?php
/**
 * @Var \App\User\Blocks\UsersPage $this
 */
?>

<?php $this->renderHead() ?>
<body>
<div class="page-container page-container_theme-dark">
    <?php $this->renderHeader(); ?>
    <main class="main main_column">
        <form class="form-input" method="POST">
            <?php $this->renderToken(); ?>
            <input class="form-input__button" type="submit" value="Разослать сообщение">
        <ul class="base-list base-list_full-screen">
            <?php $this->renderListEntity('user') ?>
        </ul>
    </main>
</div>
</body>
</html>