<?php
/**
 * @Var \App\Book\Blocks\MyBooksPage $this
 */
?>

<?php $this->renderHead() ?>
<body>
<div class="page-container page-container_theme-dark">
    <?php $this->renderHeader(); ?>
    <main class="main main_column">
        <h1 class="list-title">Мои книги</h1>
        <ul class="base-list base-list_full-screen">
            <?php $this->renderListMyBooks() ?>
        </ul>
    </main>
</div>
</body>
</html>