<?php
/**
 * @Var \App\Core\Blocks\Pages\NotFoundPage $this
 */
?>

<?php $this->renderHead() ?>
<body class="body">
    <div class="main">
        <img class="background-not-found" src="/assets/img/not-found-background.png">
        <div class="code-status-not-found main__code-status-not-found">
            <p class="code-status-not-found__number">404</p>
            <p class="code-status-not-found__text">Not Found</p>
        </div>
    </div>
</body>
</html>