<?php
/**
* @Var \App\User\Blocks\RegistrationPage $this
*/

use App\Core\Models\Session;

$this->renderHead();
$this->renderHeader(); ?>
<body>
<div class="page-container page-container_theme-light page-container_center">
    <main class="main main_column">
        <h2 class="form-input__title">Регистрация</h2>
        <form class="form-input" method="POST">
            <?php $this->renderToken(); ?>
            <div class="form-input__property">
                <label class="form-input__label" for="login">Логин:</label>
                <input class="form-input__input-field" type="text" id="login" name="login" required>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="login">Электронна почта:</label>
                <input class="form-input__input-field" type="text" id="email" name="email" required>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="password">Пароль:</label>
                <input class="form-input__input-field" type="password" name="password" id="password" required>
            </div>
            <div class="form-input__property">
                <label class="form-input__label" for="password">Повторите пароль:</label>
                <input class="form-input__input-field" type="password" name="repeat password" id=" repeat password" required>
            </div>
            <h3 class="form-input__warning"><?= Session::getError() ?></h3>
            <input class="form-input__button" type="submit" value="Регистрация">

        </form>
    </main>
</body>
</html>