<?php
/**
 * @Var \App\User\Blocks\UpdateUserInfoPage $this
 */

use App\Core\Models\Session;

$userData = $this->getUserInformation();
?>

<?php $this->renderHead();?>
<body>
    <div class="page-container page-container_theme-dark">
    <?php $this->renderHeader(); ?>
        <main class="main">
            <div class="personal-account__nav">
            <ul class="base-list base-list_column">
                <li class="base-list__item"><a class="base-list__link" href="user-account">Личная информация</a></li>
                <li class="base-list__item"><a class="base-list__link" href="my-books">Забранированные книги</a></li>
                <li class="base-list__item"><a class="base-list__link" href="update-user-info">Измнить данные аккаунта</a></li>
                <li class="base-list__item">
                    <form class="form-input" method="POST">
                        <input class="form-input__button" type="submit" id="logout" name="logout" value="Выйти их аккаутна">
                    </form>
                </li>
            </ul>
        </div>
            <div class="personal-account__informatiom">
                <h2 class="personal-account__title-information">Личная информация</h2>
                <form class="form-input" method="POST">
                    <?php $this->renderToken(); ?>
                    <div class="form-input__property">
                        <label class="form-input__label" for="name">Логин:</label>
                        <input class="personal-accout__information" type="text" id="login" name="login" value="<?= $userData->getLogin() ?>">
                    </div>
                    <?= $userData->getPassword()?>
                    <p class="form-input__text">Если хотите изменить пароль, введите
                        в поле "Пароль" свой старый пароль,
                        а в поля ввода "Новый пароль" и "Повторите Новый пароль"
                        свой новый пароль</p>
                    <div class="form-input__property">
                        <label class="form-input__label" for="name">Старый Пароль:</label>
                        <input class="personal-accout__information" type="password" id="old_password" name="old_password" value="">
                    </div>
                    <div class="form-input__property">
                        <label class="form-input__label" for="name">Новый Пароль:</label>
                        <input class="personal-accout__information" type="password" id="password" name="password" value="">
                    </div>
                    <div class="form-input__property">
                        <label class="form-input__label" for="name">Повторите Новый пароль:</label>
                        <input class="personal-accout__information" type="password" id="repeat password" name="repeat_password" value=""">
                    </div>
                    <h3 class="form-input__warning"><?= Session::getError() ?></h3>
                    <input class="form-input__button" type="submit" id="update" name="update" value="Изменить данные">
                </form>
            </div>
        </div>
        </main>
    </div>
</body>