<?php
/**
 * @Var \App\User\Blocks\UserPage $this
 */
?>

<?php
$userData = $this->getEntity('user');
$this->renderHead()
?>
<body>
<div class="page-container page-container_theme-dark">
    <?php $this->renderHeader(); ?>
    <form class="form-input" method="POST">
        <?php $this->renderToken(); ?>
    <input class="form-input__button" type="submit" value="Отослать сообщение">

